body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Geneva, sans-serif;
    font-size: 11px;
    line-height: 20px;
}

a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCC;
    color: #666;
}

a:hover {
    color: #999;
}

section {
    height: 100%;
    width: 800px;
    margin: auto;
}

article {
    padding: 20px;
    width: 56%;
    margin-left: 110px;
}

article.page {
    margin-left: 0;
    width: 66%;
}

header {
    background-image: url(http://static.colourlovers.com/images/patterns/3448/3448382.png);
    height: 200px;
    width: 100%;
    border: 1px solid #000;
}

hr {
    border: 0;
    background-color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
}

nav {
    float: right;
    width: 25%;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
}

.date {
    text-align: right;
    position: relative;
    left: -475px;
    top: 13px;
    float: right;
    color: #999;
}

article.pagination {
    text-align: center;
}

img {
    max-width: 100%;
}

img.avatar {
    height: 240px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    margin: auto;
    display: block;
}

ul.archive li {
    list-style-type: disc;
}

ul.archive > li {
    list-style-type: none;
    font-weight: bold;
}
a.dashboard-link {
    position: fixed;
    right: 10px;
    top: 10px;
    border: 1px solid;
    padding: 0px 5px;
}
h1 a {
    color: inherit;
    border: 0;
}

article.pagination {
    height: 40px;
}

a.read-more {
    display: block;
    margin-top: 1rem;
    width: 55px;
}