body {
    background: #FFF;
}

.top {
    margin: 2rem 0;
}

.hero {
    margin: 10rem 0;
}

.hero img {
    height: 380px;
    max-width: none;
    position: absolute;
    left: 0;
    top: -5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 40, 100, 0.12);
}

.features .col {
    margin: 3rem;
    min-height: 320px;
}

.features .thumbnail div {
    background-size: auto auto;
    background-position: top-left;
    background-size: 140%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 40, 100, 0.12);
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.text-logo {
    color: inherit;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0;
    transition: .3s opacity;
    line-height: 2rem;
}